# SoundCloud OAuth Configuration
SOUNDCLOUD_CLIENT_ID=your_client_id_here
SOUNDCLOUD_CLIENT_SECRET=your_client_secret_here
SOUNDCLOUD_REDIRECT_URI=your_redirect_uri_here # e.g. http://localhost:3000/callback
